<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project 4</title>
            <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
  </head>
  <body>
    {{msg}}
        <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/departmentslist">departmentslist</a></li>
  <li><a href="/adddepartment">adddepartment</a></li>
        </ul>
    <h1>Add Department</h1>
    <form method="POST">
      <label for="depname">Department Name</label>
      <p><input type="text" name="depname" /></p>
      <label for="locid">Department Location ID</label>
      <p>
        <select name="locid">
          {% for i in data %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
        </select>
      </p>
      <input type="submit" value="Add Department" />
    </form>
    <p><a href="/">Back To Home</a></p>
  </body>
</html>
